{{ block "form-page" . }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <title>HTMX with GO | Form Example</title>
    <link rel="stylesheet" href="/css/index.css">
    <script>
        document.addEventListener("DOMContentLoaded", (event) => {
            document.body.addEventListener("htmx:beforeSwap", function (evt) {
                if (evt.detail.xhr.status === 422) {
                    evt.detail.shouldSwap = true;
                    evt.detail.isError = false;
                }
            })
        })
    </script>
</head>

<body>
    {{ template "form" .Form }}

    <hr />

    {{ template "contacts" .Data }}
</body>

</html>
{{ end }}

{{ block "form" . }}
<form hx-post="/contacts" hx-swap="outerHTML">
    <div>
        <label for="name">name:</label>
        <input type="text" name="name" id="name" {{ if .Values.name }} value="{{ .Values.name }}" {{ end }} />
    </div>

    <div>
        <label for="email">email:</label>
        <input type="email" name="email" id="email" {{ if .Values.email }} value="{{ .Values.email }}" {{ end }} />
        {{ if .Errors.email }}
        <div style="color: red;">{{ .Errors.email }}</div>
        {{ end }}
    </div>

    <button type="submit">Submit</button>
</form>
{{ end }}

{{ block "contacts" . }}
<div id="contacts" style="display: grid; gap: 10px;">
    {{ range .Contacts }}
    {{ template "contact" . }}
    {{ end }}
</div>
{{ end }}

{{ block "contact" . }}
<div id="contact-{{ .Id }}" class="contact" style="display: flex;">
    <div hx-delete="/contacts/{{ .Id }}" hx-swap="outerHTML swap:500ms" hx-target="#contact-{{ .Id }}"
        hx-indicator="#ci-{{ .Id }}" style="cursor: pointer;">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
            <path fill="currentColor"
                d="M7 21q-.825 0-1.412-.587T5 19V6H4V4h5V3h6v1h5v2h-1v13q0 .825-.587 1.413T17 21zm2-4h2V8H9zm4 0h2V8h-2z" />
        </svg>
    </div>

    <p> Name: <span>{{ .Name }}</span> </p>
    <p> Email: <span>{{ .Email }}</span> </p>

    <div id="ci-{{ .Id }}" class="htmx-indicator">
        <img src="/images/bars.svg" alt="loading" style="width: 1rem;">
    </div>
</div>
{{ end }}

{{ block "oob-contact" . }}
<div id="contacts" hx-swap-oob="afterbegin">
    {{ template "contact" . }}
</div>
{{ end }}
